@import '../variables.scss';


nav {
  height: 75px;
}

nav div.uk-navbar-container-custom {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.uk-navbar-right {
  margin-right: 5%;
}

.uk-navbar-left {
  margin-left: 5%;
}

.nav-logo {
  font-weight: 800;
  font-size: medium;
}

.nav-buttons {
  background-color: transparent;
}

.uk-navbar-item:hover {
  color: $gray-darker !important;
  text-decoration: none;
}