@import '../variables.scss';

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-container h4 {
  margin: 0px;
}

.page-header {
  font-size: 1rem !important;
  margin: 0px !important;
  color: $red;
  transition: color 250ms ease-in-out;
}

.page-header:hover {
  text-decoration: none;
  color: #f48989 !important;
}

.page-subheader {
  font-size: 0.75rem !important;
}

span[uk-icon='close'],
.category-subheader span,
.page-subheader a {
  color: $blue;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

span[uk-icon='close']:hover,
.category-subheader span:hover,
.page-subheader a:hover {
  color: $external-link-dark;
}

.page-subheader time {
  font-weight: 600;
  color: $red !important;
}