@import '../variables.scss';

#list-notebook-pages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#list-notebook-pages>:first-child {
  margin-top: 10px;
}

.pages-container {
  width: 75%;
}

.pages-parent {
  margin: 0px !important;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
}

.page-item {
  box-sizing: border-box;
  box-shadow: $box-shadow;
  margin: 0px 10px;
  width: 44%;
  background-color: #ffff;
  flex-grow: 1;
}

.page-item-full {
  width: 100% !important;
}