@import '../variables.scss';

#list-notebook-pages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#list-notebook-pages>:first-child {
  margin-top: 10px;
}

.pages-parent {
  margin: 0px !important;
}

.page-item {
  box-shadow: $box-shadow;
  margin: 0px 10px;
  width: 35%;
  background-color: #ffff;
}

.page-item-full {
  width: 100% !important;
}