
// https://www.canva.com/learn/website-color-schemes/
// Website color scheme #4: Clean and highlighted

$sky: #CAEBF2;
$gray: #A9A9A9;
$red: #FFA5A5;
$green: #A5FFC9;
$blue: #A5C9FF;
$light: #EFEFEF;

$gray-dark: #666666;
$gray-darker: #333333;

$external-link-light: $blue;
$external-link-dark: #6088C4;